.team__header {
    text-align: center;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 15px;
    text-transform: uppercase;
    background: #1c7aa7;
    padding: 50px 0;
}

.team__row {
    text-align: center;
}

.team-item__photo-container {
    height: 169px;
    width: 169px;
    border-radius: 50%;
    position: relative;
    text-align: center;
    display: inline-block;
    background: #fff451;
    margin-top: 30px;
}

.team-item__photo {
    display: block;
    position: relative;
    height: 170px;
    width: auto;
    border-radius: 50%;
    filter: grayscale(70%);
    transform: rotateY(0deg);
    transition: all 0.8s ease-in;
}

.team-item__photo-links {
    height: 170px;
    width: 170px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    opacity: 0;
    background: #fff451;
    border-radius: 50%;
    transition: all 0.2s ease-in;
    cursor: grab;
    cursor:-moz-grab;
    cursor:-webkit-grab;
}

.team-item__photo--link {
    text-decoration: none;
    font-size: 30px;
    padding: 0 3px;
    background: #1c7aa7;
    color: #fff451;
    opacity: 0;
    border-radius: 4px;
    position: absolute;
    transition: all 0.7s ease-in;
}

.team-item__photo--link-fb{
    top: 50%;
    left: 90%;
    transform: translateX(-50%) translateY(-100%);
}

.team-item__photo--link-in{
    top: 50%;
    left: 50%;
    transform: translateX(-100%) translateY(-50%);
}

.team-item__photo-container:hover .team-item__photo {
    transform: rotateY(180deg);
    animation-fill-mode: forwards;
    cursor: grab;
    cursor:-moz-grab;
    cursor:-webkit-grab;
    opacity: 1;
}

.team-item__photo-container:hover .team-item__photo-links {
    opacity: 0.55;
    display: inline-block;
}

.team-item__photo-container:hover .team-item__photo--link {
    opacity: 1;
}

.team-item__photo-container:hover .team-item__photo--link-fb{
    top: 50%;
    left: 100%;
    transform: translateX(-100%) translateY(-50%);
}

.team-item__photo-container:hover .team-item__photo--link-in{
    top: 50%;
    left: 0;
    transform: translateX(0%) translateY(-50%);
}

.team-item__photo--link:hover {
    color: #1c7aa7;
    text-decoration: none;
    background: #fff451;
}

.team-item__namebox {
    margin-top: 10px;
}

.team-item__namebox,
.team-item__description {
    padding: 0 20px;
}

.team-item__namebox--function,
.team-item__namebox--name {
    color: #1c7aa7;
}

.team-item__description--text {
    text-align: left;
}

.team-item__description--links {
    margin: 35px 0;
}

.team-item__description--link {
    color: #1c7aa7;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline;
    text-align: justify;
}

.team-item__description--links svg {
    font-size: 20px;
    margin-right: 15px;
}